Source: upwdchg
Section: admin
Priority: optional
Maintainer: Cedric Dufour <cedric.dufour@ced-network.net>
Build-Depends: python (>= 2.7), debhelper (>= 8), help2man
Build-Depends-Indep: php-pear
Homepage: http://cedric.dufour.name/software/upwdchg
Standards-Version: 3.9.4

Package: upwdchg-common
Architecture: all
Depends: ${misc:Depends}
Description: Universal Password Changer (UPwdChg) - common files
 The Universal Password Changer (UPwdChg) allows one to synchronize passwords
 between multiple and different user directory systems - LDAP, MIT Kerberos,
 Microsoft Active Directory, etc. - with an emphasis on flexibility, customiz-
 ability and untrusted frontends security.
 .
 The Universal Password Changer (UPwdChg) is split in two parts:
  - a frontend, running on any user-accessible (untrusted) host, which allows
    users to request password changes
  - a backend, running on a (trusted) management host, where password change
    requests are processed
 .
 In order to deal with the lower security of the frontend host,  public key
 cryptography is used:
  - on the frontend, password change requests are encrypted as password
    change tokens, using the RSA public key of the processing backend
  - password change tokens are saved in a storage location shared between
    the frontend and the backend (e.g. NFS, CIFS, SSHFS, rsync, etc.)
  - on the backend, password change tokens are decrypted using the backend
    RSA private key, and processed through customizable plugins
 .
 Password change tokens are actually made of:
  - the password change data - request timestamp, username, old and new
    passwords - along corresponding SHA-256 digest, all of it encrypted using
    AES-256-CBC symetric cipher and base64 encoded
  - the symetric cipher key and initialization vector (IV), encrypted with
    the supplied RSA public key and base64-encoded
 .
 Once decrypted, password change tokens/requests are processed through various
 user-customizable plugins:
  - validation plugins, checking credentials validity, password policies
    compliance, etc.
  - actual password change plugins, performing the requested password change
    on multiple and different backends, such as LDAP, MIT Kerberos, Microsoft
    Active Directory, etc.
  - any other tasks that may be required as part of a password change operation

Package: upwdchg-frontend
Architecture: all
Depends: ${misc:Depends}, upwdchg-common, libapache2-mod-php5 | php5-cgi, php5-mcrypt, php-pear
Recommends: php5-ldap
Description: Universal Password Changer (UPwdChg) - frontend utilities
 The Universal Password Changer (UPwdChg) allows one to synchronize passwords
 between multiple and different user directory systems - LDAP, MIT Kerberos,
 Microsoft Active Directory, etc. - with an emphasis on flexibility, customiz-
 ability and untrusted frontends security.
 .
 The Universal Password Changer (UPwdChg) frontend provides:
  - the 'UPwdChg' (PHP) class to created password change tokens
    via a PHP-enabled web server

Package: upwdchg-backend
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, upwdchg-common, python-argparse, python-configobj, python-daemon, python-m2crypto
Suggests: upwdchg-plugins, python-ldap, krb5-admin-server | ssh-client
Description: Universal Password Changer (UPwdChg) - backend utilities
 The Universal Password Changer (UPwdChg) allows one to synchronize passwords
 between multiple and different user directory systems - LDAP, MIT Kerberos,
 Microsoft Active Directory, etc. - with an emphasis on flexibility, customiz-
 ability and untrusted frontends security.
 .
 The Universal Password Changer (UPwdChg) backend provides:
  - the 'upwdchg-token' (Python) utility to create password change tokens
    from the command line
  - the 'upwdchg-process' (Python) utility to process password change tokens

Package: upwdchg-daemon
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, upwdchg-common, upwdchg-backend
Suggests: upwdchg-plugins
Description: Universal Password Changer (UPwdChg) - processing daemon
 The Universal Password Changer (UPwdChg) allows one to synchronize passwords
 between multiple and different user directory systems - LDAP, MIT Kerberos,
 Microsoft Active Directory, etc. - with an emphasis on flexibility, customiz-
 ability and untrusted frontends security.
 .
 The Universal Password Changer (UPwdChg) daemon watches a given directory
 for new password change tokens and automatically process them.

Package: upwdchg-plugins
Architecture: all
Depends: ${misc:Depends}, python, upwdchg-common, upwdchg-backend
Description: Universal Password Changer (UPwdChg) - sample plugins
 The Universal Password Changer (UPwdChg) allows one to synchronize passwords
 between multiple and different user directory systems - LDAP, MIT Kerberos,
 Microsoft Active Directory, etc. - with an emphasis on flexibility, customiz-
 ability and untrusted frontends security.
 .
 The Universal Password Changer (UPwdChg) sample plugins are:
  * debug
    - ShowTokenInfo:         display password change token details
  * validation
    - CheckTimestamp:        check password change token age
    - CheckUsername:         check username (length, characters)
    - CheckPassword:         check password policy (length, complexity)
    - CheckCredentialsLdap:  check credentials on LDAP server
    - CheckActualChange:     check old and new passwords are different
  * password change
    - ChangePasswordLdap:    perform password change on LDAP server
    - ChangePasswordKrb5:    perform password change on MIT Kerberos 5 server
    - ChangePasswordAd:      perform password change on Microsoft Active
                             Directory server
  * account creation (synchronization)
    - CreateAccountKrb5:     create MIT Kerberos 5 principal (or update its
                             password if already existing)
    - CreateAccountAd:       create Active Directory user account (or update
                             its password if already existing)
  * groups synchronization
    - SynchGroupsLdap:       synchronize groups between LDAP servers
    - SynchGroupsMemberLdap: synchronize groups (user) membership between
                             LDAP servers

